{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    {##}
    {#  <!-- #}
    {#  since name is specified in polls/urls.py, we can avoid hardcoding it #}
    {#  <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> #}
    {#  --> #}
    {# <!-- #}
    {#  we can create namespaced apps by setting #}
    {#  in polls/urls.py that way Django knows which app to look up the name for #}
    {#  ``` #}
    {#  app_name = 'polls' #}
    {#  ``` #}
    {#  <li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li> #}
    {#  --> #}
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
